doctype HTML
html
  head
    title Crear Pedido
    meta(charset="UTF-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="../js/semantic.min.js")
    link(rel="stylesheet" type="text/css" href="../css/semantic.min.css")
    style.
      body {
        padding: 1em 0em;
      }
      .ui.grid{
        margin-top:1em;
        padding: 0em;
      }
      .ui.grid .row{
        margin-left:5em;
      }
  body
    .ui.fixed.inverted.menu
      .ui.container
        a.header.item
          img.logo(src="../css/logo.png")
          | Project Hopkins
        a.item Home
        a.item Clientes
        a.item Vehiculos
        .ui.simple.dropdown.item Setting
          i.dropdown.icon
          .menu
            a.item Administradores
            a.item Clientes
            a.item Pedidos
            a.item Trabajadores
            a.item Vehiculos


        .right.menu
          .item
            .ui.inverted.transparent.icon.input
              input(type='text' placeholder='search...')
              i.search.icon
          .item
            a.ui.inverted.button Log Out

    .ui.grid
      .ui.row
        .five.wide.column
          .ui.inverted.vertical.menu
            a.item Administradores
            a.item Clientes
            a.item Pedidos
            a.item Trabajadores
            a.item Vehiculos
        .eleven.wide.column
          .ui.container
            form.ui.form
              .field
                .fields
                  .ten.wide.fields
                    h3.ui.dividing.header Nuevo Pedido

              .inline.fields
                .eleven.wide.field
                  label Numero de paquetes:
                  input(type="text" placeholder="nombre")

              .inline.fields
                .eleven.wide.field
                  label Costo: 
                  input(type="text" placeholder="costo")

              .inline.fields
                .eleven.wide.field
                  label Etapa:
                  input(type="text" placeholder="saldo")

              .inline.fields
                .eleven.wide.field
                  label Direccion:
                  input(type="text" placeholder="direccion")

              .field
                .fields
                  .ten.wide.fields
                    h3.ui.dividing.header Servicio

              .inline.fields
                .eleven.wide.field
                  label Tipo:
                  input(type="text" placeholder="Tipo")

              .inline.fields
                .eleven.wide.field
                  label Tipo de Pago:
                  input(type="text" placeholder="Pago")

              .inline.fields
                .eleven.wide.field
                  label Forma de Pago:
                  input(type="text" placeholder="saldo")

              .field
                .fields
                  .ten.wide.fields
                    h3.ui.dividing.header Vehiculo

              .inline.fields
                .eleven.wide.field
                  label Tipo Vehiculo:
                  input(type="text" placeholder="vehiculo")

              a.ui.black.button Cancelar
              input.ui.blue.button(type="submit" value="Nuevo Pedido")
