doctype HTML
html
  head
    title Crear Pedido
    meta(charset="UTF-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="../js/semantic.min.js")
    link(rel="stylesheet" type="text/css" href="../css/semantic.min.css")
    style.
      body {
        padding: 1em 0em;
      }
      #breadcrumb{
        margin-top:7em;
      }
      .ui.grid{
        margin-top:3em;
        padding: 0em;
      }
      .ui.grid .row{
        margin-left:5em;
      }
  body
    .ui.fixed.inverted.menu
      .ui.container
        a.header.item
          img.logo(src="../css/logo.png")
          | Project Hopkins
        a.item(href="/principal") Home
        a.item Clientes
        a.item Vehiculos
        .ui.simple.dropdown.item Setting
          i.dropdown.icon
          .menu
            a.item(href="/administradorPrincipal") Administradores
            a.item(href="/clientePrincipal") Clientes
            a.item(href="/pedidoPrincipal") Pedidos
            a.item(href="/trabajadorPrincipal") Trabajadores
            a.item(href="/vehiculoPrincipal") Vehiculos


        .right.menu
          .item
            .ui.inverted.transparent.icon.input
              input(type='text' placeholder='search...')
              i.search.icon
          .item
            a.ui.inverted.button Log Out

    .ui.container#breadcrumb
      .ui.huge.breadcrumb
        a.section(href="/principal") Home
          i.right.chevron.icon.divider
        a.section Setting
          i.right.chevron.icon.divider
        a.section(href="/administradorPrincipal") Pedido
          i.right.arrow.icon.divider
        .active.section Editar Pedido

    .ui.grid
      .ui.row
        .five.wide.column
          .ui.inverted.vertical.menu
            a.item(href="/administradorPrincipal") Administradores
            a.item(href="/clientePrincipal") Clientes
            a.item(href="/pedidoPrincipal") Pedidos
            a.item(href="/trabajadorPrincipal") Trabajadores
            a.item(href="/vehiculoPrincipal") Vehiculos
        .eleven.wide.column
          .ui.container
            form.ui.form(action="/editarPedido" method="post")

              .field
                .fields
                  .eleven.wide.field
                    h3.ui.dividing.header Cliente

              .field
                .fields
                  .eleven.wide.field
                    .two.fields
                      .field.disabled
                        label Nombre:
                        input#cliente_nombre(type="text" value="" placeholder="nombre")
                      .field.disabled
                        label Telefono: 
                        input#cliente_telefono(type="text" value="" placeholder="telefono")

              .field
                .fields
                  .eleven.wide.field
                    .field.disabled
                      label Direccion Inicial:
                      input#cliente_direccion(type="text" value="" placeholder="direccion inicial")


              .field
                .fields
                  .eleven.wide.field
                    h3.ui.dividing.header Pedido

              .field
                .fields
                  .eleven.wide.field
                    .fields
                      .field
                        label Numero de paquetes:
                        input#pedido_cantidad(type="text" value="" placeholder="paquetes" name="paquetePedido")
                      .field
                        label Costo
                        input#pedido_costo(type="text" value="" placeholder="costo" name="costoPedido")
                      .field
                        label Etapa:
                        select.ui.search.dropdown#etapa(name="etapaPedido" value="")
                          option(value="") Etapa
                          option(value="1") 1
                          option(value="2") 2
                          option(value="3") 3

              .field
                .fields
                  .eleven.wide.field
                    .two.fields
                      .field
                        label Direccion
                        input#pedido_direccion(type="text" placeholder="direccion" value="" name="direccionPedido")
                      .field
                        label Distrito
                        input#pedido_distrito(type="text" value="" placeholder="distrito" name="distritoPedido")

              .field
                .fields
                  .eleven.wide.field
                    h3.ui.dividing.header Servicio

              .field
                .fields
                  .eleven.wide.field
                    .fields
                      .field
                        label Tipo de servicio:
                        select.ui.search.dropdown#tipo_servicio(name="tipoServicio" value="")
                          option(value="") Servicio
                          option(value="Normal") Normal
                          option(value="Exclusivo") Exclusivo
                      .field
                        label Forma de pago
                        select.ui.search.dropdown#forma_pago(name="formaPago" value="")
                          option(value="") Forma de pago
                          option(value="Efectivo") Efectivo
                          option(value="tarjeta") Tarjeta
                      .field
                        label Realiza el pago:
                        select.ui.search.dropdown#realiza_pago(name="pagaPrimero" value="")
                          option(value="") Pagador
                          option(value="Emisor") Emisor
                          option(value="Receptor") Receptor

              .field
                .fields
                  .eleven.wide.field
                    h3.ui.dividing.header Vehiculo

              .field
                .fields
                  .eleven.wide.field
                    .two.fields
                      .field.disabled
                        label Tipo de vehiculo:
                        select.ui.search.dropdown#tipo_vehiculo(name="tipoVehiculo" )
                          option(value="") Tipo-vehiculo
                          option(value="automovil") automovil
                          option(value="moto") moto
                      .field
                        label Vehiculo
                        select.ui.search.dropdown#vehiculo(name="idVehiculo")
                          option(value="") Vehiculos
                        
              input#tipoServicio_id(type="hidden" value="" name="idServicio")
              input#pedido_id(type="hidden" value="" name="idPedido")
              a.ui.black.button Cancelar
              input.ui.black.button(type="submit" value="Guardar")

  script.
    var pedido = !{objResult_pedido};
    console.log(pedido);
    console.log(pedido.cliente.nombre);
    var vehiculo = !{objResult_vehiculo};
    console.log(vehiculo);

    $("#cliente_nombre").val(pedido.cliente.nombre);
    $("#cliente_telefono").val(pedido.cliente.telefono);
    $("#cliente_direccion").val(pedido.cliente.direccion_cliente);
    $("#pedido_cantidad").val(pedido.cantidad_paquete);
    $("#pedido_costo").val(pedido.costo_total);
    $("#pedido_direccion").val(pedido.direccion);
    $("#pedido_distrito").val(pedido.distrito);
    $("#pedido_id").val(pedido.id);
    $("#tipoServicio_id").val(pedido.tipoServicioId);

    $("#etapa").val(pedido.etapa_pedido)
      .dropdown();
    $("#tipo_servicio").val(pedido.tipoServicio.tipo_servicio)
      .dropdown();
    $("#forma_pago").val(pedido.tipoServicio.tipo_pago)
      .dropdown();
    $("#realiza_pago").val(pedido.tipoServicio.paga_primero)
      .dropdown();
    $("#tipo_vehiculo").val(pedido.tipo_vehiculo)
      .dropdown();
    $("#vehiculo")
      .dropdown();


    var y = pedido.tipo_vehiculo;
    console.log(y);
    console.log(typeof(y));


    var b = vehiculo.length;
    for(var i=0;i<b;i++){
      var x = vehiculo[i].tipo_vehiculo;
      console.log("x: ",x);
      console.log(typeof(x));
      if(x==y){
      $("#vehiculo").append('<option value=' + ' " ' + vehiculo[i].id + ' " ' + '>' + vehiculo[i].placa + '</option>')
      }
    }
    